<!DOCTYPE html>
<html>
<head>
	{% include 'partial/header.twig' %}
	{% include 'partial/lib.twig' %}
</head>
<body class="theme-decx lang-{{ htmlWebpackPlugin.options.data.lang }}">
  <div id="vue" class="static-container">
    <div class="static-header clearfix">
      <h1 class="navbar-title"><img src="image/toolbar-logo.svg"></h1>
    </div>
    <div class="static-content forget"><div class="container">
      <div class="row"><div class="col-md-5">
          <div class="static-form">
            <h1>Forgot<br>your password?</h1>
            <div class="form-group" id="form-group-username">
                <input class="form-control" type="text" placeholder="Email" ref="username" require value="DECX@gmail.com"/>
                <div class="invalid-feedback text-right"></div>
            </div>
            <a class="btn btn-shadow btn-primary" type="button">Reset</a>
            <a href="login.html" class="link-text text-underline text-left">Back to <span class="font-bold">Log in</span></a>
        </div>
      </div></div>
    </div></div>
    <comfirm-cookies></comfirm-cookies>
  </div>
</body>
</html>
