<!DOCTYPE html>
<html>
<head>
	{% include 'partial/header.twig' %}
	{% include 'partial/lib.twig' %}
</head>
<body class="theme-decx lang-{{ htmlWebpackPlugin.options.data.lang }}">
  <div id="vue" class="row page-container">
    <logout-modal></logout-modal>
    <nav class="navbar fixed-top nav-container navbar-mobile">
      <navbar-header :username="username" :type="type"/>
    </nav>
    <sidebar :username="username" :type="type" :current-menu="currentMenu"></sidebar>

    <div class="content-container">
      <div class="title-block-container clearfix">
        <p class="block-title">Dashboard</p>
      </div>
    </div>
    <comfirm-cookies></comfirm-cookies>
  </div>
</body>
</html>
