<!DOCTYPE html>
<html>
<head>
	{% include 'partial/header.twig' %}
	{% include 'partial/lib.twig' %}
</head>
<body class="theme-decx lang-{{ htmlWebpackPlugin.options.data.lang }}">
  <div id="vue" class="static-container">
    <div class="static-header clearfix">
      <h1 class="navbar-title"><img src="image/toolbar-logo.svg"></h1>
    </div>
    <div class="static-content register"><div class="container">
      <div class="row"><div class="col-md-5 offset-md-7">
          <div class="static-form">
            <h1>Create<br>Account</h1>
            <div class="form-group" id="form-group-username">
                <input class="form-control" type="text" placeholder="Email" ref="username" require value="DECX@gmail.com"/>
                <div class="invalid-feedback text-right"></div>
            </div>
            <div class="form-group" id="form-group-password">
                <input class="form-control" require placeholder="Password"/>
                <div class="invalid-feedback text-right"></div>
            </div>
            <div class="form-group" id="form-group-confirm-password">
                <input class="form-control" require placeholder="Confirm Password"/>
                <div class="invalid-feedback text-right"></div>
            </div>
            <!-- I agree to the Terms of Service and Privacy Policy. -->
            <button class="btn btn-shadow btn-primary" type="button">Register</button>
            <a href="login.html" class="link-text text-underline text-left">Already have an account? <span class="font-bold">Login</span></a>
        </div>
      </div></div>
    </div></div>
    <comfirm-cookies></comfirm-cookies>
  </div>
</body>
</html>
